/*User.css */
.user{
  border:5px solid red;
   position:unset;
   padding: 15px;
   margin: 10px;
  }

  /*User.css */
.todo{
  border:5px solid black;
   position:unset;
   padding: 15px;
   margin: 10px;
  }

  
  /*User.css */
.todos{
  border:5px solid black;
   padding: 15px;
   margin: 10px;
    height: 42.4vh;
    width: 100;
    overflow: auto;
  
  }

  .users{
    border:5px solid black;
     padding: 5px;
     margin: 5px;
      height: 72vh;
      width: 100;
      overflow: auto;
    
    }

 

 



